.student{
font-family: Arial, Helvetica, sans-serif;
font-size: 2em;
padding: 10px;
border: 1px solid hsl(0, 50%, 2%);
}
.welome-msg{
font-size: 2.5em;
background-color: hsl(120, 63%, 30%);
color: aliceblue;
padding: 10px;
border-radius: 3px;
margin: 0;
}
.welcome-prompt{
font-size: 2.5em;
background-color: hsl(0, 70%, 36%);
color: aliceblue;
padding: 100;
border-radius: 5px;
margin: 0;
}
.conter-container{
text-align: center;
font-family: Arial, Helvetica, sans-serif;

}
.count-display{
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 50px;
}
.btn-counter{
    width: 130px;
    height: 30px;
    font-size: 1.1em;
    font-weight: bold;
    hsla(35, 94%, 34%, 0.88);
    background-color: hsla(35, 77%, 51%, 0.88);
    color: aliceblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 12px;
}
.btn-counter:hover {
background-color: hsla(27, 98%, 50%, 0.66);

}
.color-picker-container{
    display: flex;
   flex-direction: column;
   align-items: center;
}
.color-display{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 25px;
    transition:0.25s ease ;
    border: 5px solid hsl(0, 0%, 80%);
} 
.color-display p{
 
    color: hsl(0, 0%, 20%);
    font-size: 2rem;
    text-align: center;
    
}
label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;

}
input[type="color"]{
    width: 75px;
    height: 60px;
    border-radius: 9px;
    border: 4px solid hsl(0, 0%, 80%);
}
